
:root {
  --prim-col: #EEE2DE;
  --sec-col: #EA906C;
  --ter-col: #B31312;
  --quar-col: #2B2A4C;
}



.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--prim-col);
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  width: 450px;
  height: 760px;
  min-width: 450px;
  min-height: 750px; 
  margin: auto;
  background-color: var(--quar-col);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  
}

#display {
  padding: 5px;
  margin-top: 10px;
  width: 94%;
  height: 11%;
  background-color: #3D3D3D;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#top {
  color: orange;
  font-family: 'Orbitron';
  height: 30%;
  display: flex;
  align-items: flex-start;
  margin-right: 10px;
  font-size: 1.5rem;

   
}

#bottom {
  color: white;
  font-family: 'Orbitron';
  height: 70%;
  font-size: 2.8rem;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

#buttons {
  width: 435px;
  height: 643.5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0px;
  border: 1px solid grey;

}

.button {
  height: 127.5px;
  width: 108px;
  background-color: #092635; 
  z-index: 100;
  border: thin solid grey;
  border-left: 0;
  border-top: 0;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#zero {
  width: 49.7%;
  justify-content: flex-start;
}

#clear {
  width: 74.7%;
  justify-content: flex-start;
  background-color: var(--ter-col);
}

#clear>span {
  color: yellow;
}

.long-butt {
  padding-left: 10px;
}

#divide,#multiply,#minus,#plus,#equals {
  border-right:0;
}

#zero,#decimal,#equals{
  border-bottom: 0;
}

.operation {
  background-color: var(--sec-col);
}

.button:hover {
  cursor: pointer;
  border: thin solid white;
}
